body {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  color: white;
}

a {
  color: white;
}


/*navbar*/

nav {
  background-color: rgb(40, 103, 103);
}


/*navbar ends*/


/*header*/

header {
  background-color: rgb(172, 67, 67);
}

img {
  width: 380px;
}

.centr {
  padding: 50px;
  text-align: center;
}

h3 {
  padding: 20px;
}


/*header ends*/


/*portfolio*/

.portfolio {
  color: black;
}

h2 {
  padding: 30px;
  text-align: center;
}

h4 {
  text-align: center;
}

.a {
  font-size: 14px;
  color: black;
}

.portfolio {
  font-size: 12px;
}

.card {
  margin: 30px;
  padding: 20px;
}


/*portfolio ends*/


/*about*/

#about {
  background-color: rgb(172, 67, 67)
}

.clr {
  color: white;
}

.row {
  padding: 30px;
}


/*about ends*/
